doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script
         var server = io.connect('http://localhost:3000');
         server.on('message', function(messages){
           console.log(messages);
         });